# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [2]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep = "|")

### Step 4. Discover what is the mean age per occupation

In [4]:
users.groupby("occupation").age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [34]:
users.groupby('occupation')['gender'].value_counts(normalize=True, ascending=False).unstack() # 실패

TypeError: Series.sort_values() got an unexpected keyword argument 'by'

In [35]:
users['is_male'] = users['gender'].apply(lambda x: True if x == 'M' else False)
users.groupby(by = 'occupation').mean('is_male').sort_values(by = 'is_male', ascending = False)

                  user_id        age   is_male
occupation
doctor         533.714286  43.571429  1.000000
engineer       456.328358  36.388060  0.970149
technician     497.629630  33.148148  0.962963
retired        515.714286  63.071429  0.928571
programmer     435.530303  33.121212  0.909091
executive      422.312500  38.718750  0.906250
scientist      465.129032  35.548387  0.903226
entertainment  398.000000  29.222222  0.888889
lawyer         359.083333  36.750000  0.833333
salesman       494.916667  35.666667  0.750000
educator       466.905263  42.010526  0.726316
student        484.954082  22.081633  0.693878
other          542.733333  34.523810  0.657143
marketing      437.807692  37.615385  0.615385
writer         495.711111  36.311111  0.577778
none           368.666667  26.555556  0.555556
administrator  430.949367  38.746835  0.544304
artist         451.892857  31.392857  0.535714
librarian      486.588235  40.000000  0.431373
healthcare     501.437500  41.562500  0.312500
homemaker      443.000000  32.571429  0.142857

### Step 6. For each occupation, calculate the minimum and maximum ages

In [17]:
min = users.groupby("occupation").age.min()
max = users.groupby("occupation").age.max()

print(min, max)

occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64 occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64

### Step 7. For each combination of occupation and gender, calculate the mean age

In [23]:
users.groupby(["occupation", "gender"]).age.mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [36]:
users['is_male'] = users['gender'].apply(lambda x: True if x == 'M' else False)
users['is_female'] = users['gender'].apply(lambda x: True if x == 'F' else False)
users.groupby(by = 'occupation')[['is_male', 'is_female']].mean()

                is_male  is_female
occupation
administrator  0.544304   0.455696
artist         0.535714   0.464286
doctor         1.000000   0.000000
educator       0.726316   0.273684
engineer       0.970149   0.029851
entertainment  0.888889   0.111111
executive      0.906250   0.093750
healthcare     0.312500   0.687500
homemaker      0.142857   0.857143
lawyer         0.833333   0.166667
librarian      0.431373   0.568627
marketing      0.615385   0.384615
none           0.555556   0.444444
other          0.657143   0.342857
programmer     0.909091   0.090909
retired        0.928571   0.071429
salesman       0.750000   0.250000
scientist      0.903226   0.096774
student        0.693878   0.306122
technician     0.962963   0.037037
writer         0.577778   0.422222